@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url("../../public/font/Actay-Regular.otf");
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  scrollbar-width: none !important;
  background-color: #121212;
  background-image: linear-gradient(#4b22223c 1px, transparent 0.2px),
    linear-gradient(90deg, #4b22224a 1px, transparent 0.2px);
  background-size: 90px 90px;
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-rk] .ju367v9i,
[data-rk] .ju367va3 {
  background: linear-gradient(
    90.36deg,
    #de082d 0.27%,
    #fb5c78 71.56%
  ) !important;
}

[data-rk] .ju367vn {
  border-radius: 63px !important;
}

[data-rk] .ju367vcl {
  border: none !important;
}

[data-rk] .ju367v7t {
  padding-right: 23px !important;
}

[data-rk] .ju367v78 {
  padding-left: 23px !important;
}

.border-image-gradient {
  border-image-source: linear-gradient(180deg, #fb5c78 0%, #ffa4a4 100%);
  border-image-slice: 1;
}
