@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: url("../../public/font/Actay-Regular.otf");
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  scrollbar-width: none !important;
  background-color: #121212;
  background-image: linear-gradient(#4b22223c 1px, transparent 0.2px),
    linear-gradient(90deg, #4b22224a 1px, transparent 0.2px);
  background-size: 90px 90px;
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.border-image-gradient {
  border-image-source: linear-gradient(180deg, #fb5c78 0%, #ffa4a4 100%);
  border-image-slice: 1;
}

.adapter-wallet-item{
  padding-left: 20px;
  padding-right: 20px;
}

.adapter-react-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 20px;
  border-radius: 63px;
  min-width: 140px;
  background: linear-gradient(90.36deg, #DE082D 0.27%, #FB5C78 71.56%);
}

.button-icon {
  display: none !important;
  width: 0px !important;
}
.adapter-dropdown-list{
  background: linear-gradient(190.36deg, #DE082D 0.27%, #FB5C78 71.56%);
}

.adapter-dropdown-list li:hover {
  background: linear-gradient(258.36deg, #a71830cb 0.27%, #fe002fc1 71.56%);
}

/* .adapter-dropdown-collapse{
  position: absolute;
  bottom: 0 !important;
  overflow: visible !important;
  height: 0px !important;
} */

